body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

section {
    height: 600px;
    width: 100%;
}

.half-width {
    width: 35%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

h2 span {
    color: #f309c0;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-family: bold;
    font-size: 15px;
}

h5 {
    color: #555353;
    font-size: 10px;
    margin-top: 3px;
}

.profile {
    margin-left: 200px;
    text-align: left;
    margin-top: 100px;
}

.top-profile {
    background-image: url("./images/header-bg.png");
}

.link-button {
    background-image: linear-gradient(45deg, #f806bc, #80346f);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
}

.cv {
    margin-top: 100px;
}

.biography {
    background-image: url(./images/biography-bg.png);
}

.project {
    width: 30%;
    margin-left: 25px;
    padding: 5px;
    float: left;
}

.project img {
    width: 100%;
}

.latest-work {
    background-image: url(./images/latest-work-bg.png);
    text-align: center;
}

.client {
    background-image: url(./images/footer-bg.png);
    text-align: center;
}

a {
    background-image: linear-gradient(45deg, #f806bc, #80346f);
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

a span {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

footer {
    text-align: center;
    font-size: 10px;
}